.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

/*h1*/
.header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343a40;
}

/*links-right*/
.header .links-right {
    display: flex;
    align-items: center;
    gap: 10px;
}